button, p{
  font-family: 'Roboto', cursive;
  word-wrap: break-word;
}


.controlExit{
  display: block;
  text-align: center;
  float: right;
  color: red;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  }


.controlConfig{
  display: block;
  text-align: center;
  float: left;
  padding: 0px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding-left: 2px;
  padding-right: 2px;
  }

  .controlExit:hover{
      background-color: lightgrey;

  }

  .controlConfig:hover{
    background-color: lightgrey;
  }

  button:hover{
    cursor: pointer;
  }

  .controlExitContainer{
    height: 20%
  }

  .controlContainer{
    height: 100%;
    width: 100%;
  }

  .controlButtonContainer{
    height: 60%;
    width: 60%;
    display: flex;
    margin: auto
  }

  .controlConfigContainer{
    height: 20%;
  }

  .controlButton{
    display: flex;
    margin: auto auto;
    height: 100%;
    width: 100%;

  }

  .controlButton button{
    padding: 0;
    margin: auto auto;
    font-size: 1em;
  }


  .sensorContainer{
    height: 90%;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .sensorVideoContainer{
    height: 100%;
    width: 90%;
    margin: auto auto;
  }

  .usContainer{
    height: 50%;
    width: 50%;
    margin: auto auto;
  }
  .usContainer p{
    font-size: 2em;
  }

  .videoSensorConfigContainer, .usSensorConfigContainer, .usSensorDeleteContainer{
    height: 10%;
  }

  .videoSensorConfigContainer p, .videoSensorConfigContainer button{
    display: inline;
  }

  .videoSensorConfigContainer{
    margin: auto;
    width: 90%;
  }
  .videoSensorConfig{
    float: left
  }

  .usSensorDeleteContainer p{
    margin: 0px;
    font-size: 1em;
  }

  .usSensorDeleteContainer .controlExit, .usSensorConfigContainer .controlConfig{
    font-size: 2em;
  }
